[submodule "ICG/third_party/cppzmq"]
	path = ICG/third_party/cppzmq
	url = https://github.com/zeromq/cppzmq.git
[submodule "ICG/third_party/PointFeatureHub2"]
	path = ICG/third_party/PointFeatureHub2
	url = git@github.com:changhaonan/PointFeatureHub2.git
